.nav {
    background: #2f243a;
    color: white;
  }

.body{
    background-color: #bebbbb;
    padding: 100px;
    color: #2f243a;
}

.name{
    text-align: center;
}

.fixed-bottom {
    background: #2f243a;
  }

  .video{
    border-radius: 10px;
    overflow: hidden;
  }
.list{
    text-align: left;
}
  .info{
      text-align: left;
  }
  .textbook{
      padding-left: 1cm;
  }
  .icons{
      background: #bebbbb;
  }