.nav {
    background: #7f7eff;
    color: white;
  }

.body{
    background-color: #cc8b8c;
    padding: 100px;
    color: white;
}

.name{
    text-align: center;
}

.fixed-bottom {
    background: #7f7eff;
  }

  .video{
    border-radius: 10px;
    overflow: hidden;
  }
.list{
    text-align: left;
}
  .info{
      text-align: left;
  }
  .textbook{
      padding-left: 1cm;
  }
  