.nav {
    padding: 90px;
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .navlink{
    padding-left: 1cm;
    
  }
  .resume{
    padding-left: 3cm;
  }

 a:link {
  color: black;
}

/* visited link */
a:visited {
  color:black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: white;
}

