/* .nav {
    padding: 90px;
    color: white;
    font-size: 30px;
    text-align: left;
  }
  .navlink{
    padding-left: 1cm;
    
  }
  .resume{
    word-spacing: 5cm;
  }

a:link, a:visited {
  background-color: #2f243a;
  color: white;
  padding-left: 1cm;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
 
  color:#e6f9af;
} */
